.loadMore {
  margin: 3rem;
  font-size: 32px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
}

.loadMore:hover {
  color: gold;
}

.loadMore span {
  font-size: 24px;
  font-weight: bold;
}

.loading {
  margin: 3rem;
  font-size: 32px;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .loadMore {
    font-size: 28px;
  }

  .loadMore span {
    font-size: 18px;
  }

  .loading {
    font-size: 28px;
  }
}

@media (max-width: 415px) {
  .loadMore {
    margin: 2rem 0px;
    font-size: 24px;
  }

  .loadMore span {
    font-size: 16px;
  }

  .loading {
    font-size: 24px;
  }
}
