.card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 180px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  justify-content: space-between;
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  box-shadow: 2px 2px 2px 2px rgb(218, 165, 32, 0.8);
  background-color: #050505;
  color: gold;
  cursor: pointer;
}

.card:hover {
  transform: rotateY(180deg);
}

.flipFront {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flipBack {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.favButton {
  font-size: 18px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  background-color: #050505;
  border: none;
  padding: 5px;
}

.cardLoading {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 180px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px rgb(218, 165, 32, 0.8);
  background-color: #050505;
}

.loading {
  text-align: center;
  color: white;
}

@media (max-width: 767px) {
  .flipBack {
    font-size: small;
  }
}
