.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 6rem 2rem 6rem;
  min-height: 100vh;
}

@media (max-width: 1023px) {
  .main {
    padding: 50px 2rem 2rem 2rem;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 50px 1rem 2rem 1rem;
  }
}
