.dataForFilter {
  padding-left: 15px;
  display: flex;
  gap: 10px;
}

.dataForFilter input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border-radius: 50%;
  outline: none;
  width: 13px;
  height: 13px;
}

.dataForFilter input[type="radio"]:checked {
  background-color: gold;
  transition: 0.5s;
}

.dataForFilter input[type="number"] {
  padding: 5px;
}

@media (max-width: 767px) {
  .dataForFilter {
    padding-left: 5px;
    font-size: 12px;
  }
}
